<!DOCTYPE html>
<html>
<head lang="en">
  {% block head %}
  <title> Stocks_Trading</title>
  {% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
  <div class='jumbotron'>
    <center><i><b><h1> Stocks Trading</h1></b></i></center>
  </div>
  {% block body %}
  {% endblock %}
</body>
</html>
